<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>483220783523-goc1a7iq8ep3n2mq89qc58iskc71d998.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483220783523-goc1a7iq8ep3n2mq89qc58iskc71d998</string>
	<key>API_KEY</key>
	<string>AIzaSyAoOgVEdnsjq5kJrnSU23S63JZRihK8qF8</string>
	<key>GCM_SENDER_ID</key>
	<string>483220783523</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.localynk.app</string>
	<key>PROJECT_ID</key>
	<string>localynk-487408</string>
	<key>STORAGE_BUCKET</key>
	<string>localynk-487408.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483220783523:ios:53e64a7c07181549c4da16</string>
</dict>
</plist>